@import url("./theme.css");
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary-red);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App{
  position: relative;
}

.primary-title {
  padding-top: 20px;
  text-align: center;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
}
.secondary-title{
  padding-top: 20px;
  text-align: center;
  color: #fff;
  font-size: 30px;
}
.host-name{
  font-family: 'Courgette', cursive;
  font-size: 60px !important;
  animation: colorhightlight 0.5s ease-in-out infinite;
}
@keyframes colorhightlight{
  25%{
    color:white;
  }
  50%{
    color:yellow;
    text-shadow: 0px 0px 5px 5px yellow, inset 0px 0px 2px 2px yellow;
  }
}
.option{
  height: 10px;
  max-width: 200px;
}
.option img{
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit:cover;
}
.option input{
}
#wrap-content{
  display: flex;
  justify-content: space-between;
  position: relative;
  flex-wrap: wrap;
  justify-content:center;
  padding:1cm 1cm;
}
#wrap-options{
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  row-gap: 20px;
  column-gap: 20px;
  padding: 30px 15px;
  border-radius: 10px;
  width: fit-content;
  border: 3px solid var(--primary-yellow);
  box-shadow: 0px 0px 10px 10px var(--shadow-yellow), inset 0px 0px 5px 5px var(--shadow-yellow);
  margin-left: 20px;
  animation: ledColor 1s ease-in-out infinite;
}
#countdown{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: #fff;
  animation: wordCount 1s ease-in-out infinite;
}

@keyframes wordCount {
  0%{
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
  }
  1%{
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
  100%{
    transform: translate(-50%, -50%) scale(1.5);
    opacity: 0;
  }
}

@keyframes ledColor {
  0%, 100%{ 
    box-shadow: 0px 0px 5px 5px var(--shadow-yellow), inset 0px 0px 5px 5px var(--shadow-yellow);
  }
  50%{   
    box-shadow: 0px 0px 10px 10px rgba(255, 255, 0, 0.3), inset 0px 0px 5px 5px rgba(255, 255, 0, 0.3);
  }
}



#wrap-top-player{
  width: 520px;
  border: 3px solid var(--primary-yellow);
  box-shadow: 0px 0px 10px 10px var(--shadow-yellow), inset 0px 0px 5px 5px var(--shadow-yellow);
  margin-right: 20px;
  border-radius: 10px;
  padding: 30px;
  /* display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr); */
  animation: ledColor 1s ease-in-out infinite;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom:30px;
}
#top-player-title{
  margin: 0px;
  margin-bottom: 20px;
  color: #fff;
  text-align: center;
}

#wrap-btns{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.btn{
  text-transform: uppercase;
  font-weight: bold;
  padding:10px 15px;
  width:fit-content;
  line-height: 22px;
  text-align: center;
  margin: 0px 20px;
  border: 3px solid var(--primary-yellow);
  box-shadow: 0px 0px 5px 5px var(--shadow-yellow), inset 0px 0px 5px 5px var(--shadow-yellow);
  border-radius: 7px;
  color: var(--primary-yellow);
  transition: .3s ease-in-out;
  cursor: pointer;
}
.btn:hover{
  color: yellow;
  text-shadow: 0px 0px 5px 5px yellow, inset 0px 0px 2px 2px yellow;
  box-shadow: 0px 0px 10px 10px rgba(255, 255, 0, 0.3), inset 0px 0px 5px 5px rgba(255, 255, 0, 0.3);
}





.player{
  display: flex;
  margin-bottom: 15px;
}
.player .name{
  font-weight: bold;
  color:yellow;
}
.player-infor{
  display: flex;
  border-radius: 32px;
  padding:10px 25px;
  border: 1px solid yellow;
  position: relative;
  line-height: 32px;
  color: #fff;
}
.avt{
  width: 30px;
  height: 30px;
  position: absolute;
  left: 1px;
  top: 1px;
}
.avt img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}




#wrap-pop-up{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #00000090;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#pop-up-img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px dashed var(--primary-yellow);
  margin-bottom: 20px;
}
#pop-up-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1.5);
}
.spinned-block{
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin: 10px;
  border: 2px solid var(--primary-yellow);
  border-radius: 5px;
  box-shadow: 0px 0px 5px 5px var(--shadow-yellow);
}
#pop-up-title{
  font-size: 32px;
  color: var(--primary-yellow);
  text-shadow: 0px 2px 5px 5px var(--shadow-yellow);
}
#pop-up-close-btn{
  width: 30px;
  height: 30px;
  color: var(--primary-yellow);
  cursor: pointer;
  transition: .2s ease-in-out;
  position: absolute;
  top: 0px;
  right: 0px;
  transition: .2s ease-in-out;
}
#pop-up-close-btn:hover{
  transform: scale(1.3);
}
#pop-up{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.hide-audio-bar{
  position: absolute !important;
  z-index: -1 !important;
  opacity: 0 !important;
}
.user-infor{
  margin-top:10px;
  color:white;
  text-align: center;
  font-size:25px;
  padding:10px 0;
  border:2px solid white;
  width:75vw;
  margin-left:12.5vw;
  animation: borderhightlight 0.5s ease-in-out infinite;
}
@keyframes borderhightlight {
  25%{
    box-shadow: 0px 0px 5px 5px yellow, inset 0px 0px 2px 2px yellow;
  }
  50%{
    box-shadow: 0px 0px 5px 5px rgb(255, 255, 0), inset 0px 0px 2px 2px rgb(250, 250, 42);
  }
  
}